DEBUG=True
SECRET_KEY=django-insecure-09s_6liyjw@so6yll1kz*(bw0-0zn%)mumo9@+h+w64=&0ttk@
ALLOWED_HOSTS=localhost,127.0.0.1
ALLOWED_ORIGIN=http://localhost,http://127.0.0.1

DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_NAME=dj_boilerplate
DB_PORT=5433
