DEBUG=True
SECRET_KEY=abc
ALLOWED_HOSTS=localhost,127.0.0.1
ALLOWED_ORIGIN=http://localhost,http://127.0.0.1

DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_NAME=dj_boilerplate
DB_PORT=5433

USE_S3=TRUE
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=password
AWS_STORAGE_BUCKET_NAME=djtemplate
AWS_S3_ENDPOINT_URL=http://localhost:9000

SENTRY_DSN=
